{% extends "base.html" %}
{% block title %}All Solutions - Productos {% endblock %}

{% block content %}
<body>
    <!-- Main Content -->
    <div class="p-4 border rounded shadow" style="max-width: 1200px; margin: auto; background-color: white;">
        <h1>Lista de Productos</h1>
        
        <!-- Botones de acción -->
        <div class="action-buttons" style="display: inline-flex; padding: 5px; gap: 10px; margin-bottom: 20px;">
            <button class onclick="window.location.href='/registrar_producto'">Agregar Producto</button><br>
            <button class="btn btn-secondary" style="background-color: rgb(244, 69, 69);" onclick="window.location.href='/'">Volver al Inicio</button>
        </div>
        <hr>

        <!-- Tabla de productos -->
        <table class="table-striped" style="width: 100%; margin-top: 20px; border-collapse: collapse; border: 1px solid #ddd;">
            <thead class="table-light">
                <tr class="table-primary" style="background-color: rgb(59, 66, 123); color: white;">
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Categoría</th>
                    <th>Proveedor</th>
                    <th>Ubicación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
    {% for producto in productos %}
    <tr>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.cantidad }}</td>
        <td>{{ producto.categoria.nombre }}</td>
        <td>{{ producto.proveedor.nombre }}</td>
        <td>{{ producto.ubicacion }}</td>
        <td>
            <!-- Botón para modificar -->
            <form action="/modificar_producto/{{ producto._id }}" method="GET" style="display: inline-flex;">
                <button class="btn btn-success" type="submit"><i class="fa-solid fa-pen"></i></button>
            </form>
            <!-- Botón para eliminar -->
            <form action="/eliminar_producto/{{ producto._id }}" method="POST" style="display: inline-flex;">
                <button class="btn btn-danger"type="submit" onclick="return confirm('¿Estás seguro de eliminar este producto?')"><i class="fa-solid fa-trash-can"></i></button>
            </form>
</td>
    </tr>
                {% endfor %}
                {% if productos|length == 0 %}
                <tr>
                    <td colspan="8">No hay productos registrados</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    

</body>


{% endblock %}