<h2>Proyecto Refaccionaria NoSQL</h2>
<ul>
    <li>
        <a href="{{url_for('index')}}"><i class="fa-solid fa-house"></i> Inicio</a>
    </li>
    <li>
        <a href="{{url_for('usuarios')}}"><i class="fa-solid fa-user"></i> Usuarios</a>
    </li>
    <li>
        <a href="{{url_for('proveedores')}}"><i class="fa-solid fa-truck"></i> Proveedores</a>
    </li>
    <li>
        <a href="{{url_for('productos')}}"><i class="fa-solid fa-dolly"></i> Productos</a>
    </li>
    <li>
        <a href="{{url_for('categorias')}}">Categorias</a>
    </li>
</ul>