{% extends 'base.html' %}

{% block title %}All Solutions - Inicio{% endblock %}

{% block content %}
    <div class="container">
        <div class="row cabecera">
            <div class="col">
                <h1>Refaccionaria</h1>
                <h1>"All Solutions"</h1>
                <h2>¡Bienvenidos!</h2>
            </div>
        </div>
        <div class="row cuerpo">
            <div class="col">
                <p>Bienvenidos al sistema de Gestion de Inventario para la refaccionaria "All Solutions"</p>
            </div>
        </div>
    </div>
{% endblock %}